<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ng-promise-queue</title>
  <link rel="stylesheet" href="https://unpkg.com/angular-material@1.1.4/angular-material.min.css" media="all">
  <style>
    body {
      height: auto;
    }
  </style>
</head>
<body ng-cloak ng-app="demo" ng-controller="Global as $ctrl">
  <a href="https://github.com/AodhanHayter/ng-promise-queue"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 3;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
  <md-toolbar>
    <div flex="100" layout class="md-toolbar-tools">
      <div flex="33">
        <h2>Ng Promise Queue</h2>
      </div>
      <div flex="33" layout>
        <md-button flex="100" class="md-raised md-accent" ng-click="$ctrl.runQueue()">Run Tasks</md-button>
      </div>
      <div flex="33"></div>
    </div>
  </md-toolbar>
  <div flex="100" layout layout-align="center center" layout-padding>
    <div flex="50" layout="column" layout-padding>
      <md-content class="page-container" layout-padding>
        <h2 style="text-align: center;">This is demo is simulating queued uploads.</h2>
        <p style="text-align: center;">To better see it in action, I recommend throttling your network speed with the browser development tools.</p>
        <md-select placeholder="Concurrency" ng-model="$ctrl.concurrency">
          <md-option ng-repeat="num in [1,2,3]" ng-value="num">Concurrency {{num}}</md-option>
        </md-select>
      </md-content>
      <md-card layout="column" layout-align="center center" ng-repeat="task in $ctrl.tasks">
        <h3>Task {{::task.name}}</h3>
        <strong>Status: {{task.status}}</strong>
        <md-progress-linear value="{{$ctrl.progress[task.name]}}"></md-progress-linear>
      </md-card>
    </div>
  </div>
  <script src="https://unpkg.com/angular@1.6.1/angular.min.js"></script>
  <script src="https://unpkg.com/angular-animate@1.6.1/angular-animate.min.js"></script>
  <script src="https://unpkg.com/angular-aria@1.6.1/angular-aria.min.js"></script>
  <script src="https://unpkg.com/angular-messages@1.6.1/angular-messages.min.js"></script>
  <script src="https://unpkg.com/angular-material@1.1.5/angular-material.min.js"></script>
  <script src="dist/ngPromiseQueue.min.js"></script>
  <script src="index.js"></script>
</body>
</html>
