<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ng-promise-queue</title>
  <link rel="stylesheet" href="https://unpkg.com/angular-material@1.1.4/angular-material.min.css" media="all">
</head>
<body ng-cloak ng-app="demo" ng-controller="Global as $ctrl">
  <md-toolbar>
    <div layout class="md-toolbar-tools" layout>
      <h2>Ng Promise Queue</h2>
    </div>
  </md-toolbar>
  <div flex="100" layout layout-fill layout-align="center center" layout-padding>
    <div flex="30" layout="column" layout-padding>
      <md-button class="md-raised md-accent" ng-click="$ctrl.runQueue()">Run Tasks</md-button>
      <md-card layout="column" layout-align="center center" ng-repeat="task in $ctrl.tasks">
        <h3>Task {{::task}}</h3>
        <md-progress-linear value="{{$ctrl.progress[task]}}"></md-progress-linear>
      </md-card>
    </div>
  </div>
  <script src="https://unpkg.com/angular@1.6.1/angular.min.js"></script>
  <script src="https://unpkg.com/angular-animate@1.6.1/angular-animate.min.js"></script>
  <script src="https://unpkg.com/angular-aria@1.6.1/angular-aria.min.js"></script>
  <script src="https://unpkg.com/angular-messages@1.6.1/angular-messages.min.js"></script>
  <script src="https://unpkg.com/angular-material@1.1.4/angular-material.min.js"></script>
  <script src="ngPromiseQueue.js"></script>
  <script src="index.js"></script>
</body>
</html>
